---
extends: default

rules:
  key-duplicates: enable

  comments:
    min-spaces-from-content: 2
    require-starting-space: true

  comments-indentation: enable

  empty-lines:
    max: 1
    max-start: 0
    max-end: 0

  document-start:
    present: true

  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false

  hyphens:
    max-spaces-after: 1

  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true

  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true

  quoted-strings: disable

  trailing-spaces: enable
  new-line-at-end-of-file: enable

  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 0

  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1

  colons:
    max-spaces-before: 0
    max-spaces-after: 1
